@media print {
    html, body {
        display: none;  /* hide whole page */
    }
}


*{
    font-family: 'Oxygen', sans-serif !important;
    transition: 0.3s !important;
    scroll-behavior: smooth;
    cursor: inherit !important;
}
.hoverheader:hover {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.iconhover:hover {
    color: orange !important;
    transition: 0.2s;
    margin-top: -5px !important;
}
/*loader css*/

a:hover{
    cursor: pointer !important;
}
@keyframes ldio-4d9fwwa6qcw {
    0% {
        top: 96px;
        left: 96px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 18px;
        left: 18px;
        width: 156px;
        height: 156px;
        opacity: 0;
    }
}

.ldio-4d9fwwa6qcw div {
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-4d9fwwa6qcw 2.0833333333333335s cubic-bezier(0,0.2,0.8,1) infinite;
}

.ldio-4d9fwwa6qcw div:nth-child(1) {
    border-color: #000000
}

.ldio-4d9fwwa6qcw div:nth-child(2) {
    border-color: #f0cc46;
    animation-delay: -1.0416666666666667s;
}

.loadingio-spinner-ripple-59scjsxluou {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}
.ldio-4d9fwwa6qcw {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-4d9fwwa6qcw div { box-sizing: content-box; }
/* generated by https://loading.io/ */

/*
#carousel .carousel-item.boat {
    background-image: url("../../img/slider/seller%201.png");
    max-width:100%;height:auto;
}

#carousel .carousel-item.sea {
    background-image: url("../../img/slider/seller%202.png");
    max-width:100%;height:auto;
}

#carousel .carousel-item.river {
    background-image: url("../../img/slider/seller%203.png");
    max-width:100%;height:auto;

}

#carousel .carousel-item {
    height: 85vh;
    width: 100%;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
}

#carousel .carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}

#carousel .carousel-item .caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    color: white;
    animation-duration: 1s;
    animation-delay: 2s;
}

#carousel .caption h2 {
    animation-duration: 1s;
    animation-delay: 2s;
}

#carousel .caption p {
    animation-duration: 1s;
    animation-delay: 2.2s;
}

#carousel .caption a {
    animation-duration: 1s;
    animation-delay: 2.4s;
}
*/

/* Button */
.delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #ffffff;
    border: none;
    border-left: 3px solid black;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: orange;
}

.delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: black;
    border-color: orange;
}

.shake1{
    -webkit-animation-name:              shakee;
    -webkit-animation-duration:          6s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            0% 20%;
}
@-webkit-keyframes shakee {
    0%  { -webkit-transform:     translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform:     translate(-1px, -2px) rotate(-2deg); }
    20% { -webkit-transform:     translate(-3px, 0px) rotate(3deg); }
    30% { -webkit-transform:     translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform:     translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform:     translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform:     translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform:     translate(2px, 1px) rotate(-2deg); }
    80% { -webkit-transform:     translate(-1px, -1px) rotate(4deg); }
    90% { -webkit-transform:     translate(2px, 2px) rotate(0deg); }
    100%{  -webkit-transform:     translate(2px, 1px) rotate(0deg); }
}

.servicess:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.slideshow-container {
    position: relative;
    background: white;
    z-index: -9 !important;
}

/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: orangered;
    color: white !important;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: white;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(0, 0, 0, 0.48);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.activee, .dot:hover {
    background-color: rgba(255, 165, 0, 0.75);
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: orangered;}


.vl {
    border-left: 3px solid orangered;
    height: 100px;
    padding-top: 20px !important;
    padding-left: 20px !important;
}
.vl2 {
    border-left: 3px solid orangered;
    height: 80px;
    /*padding-top: 20px !important;*/
    padding-left: 20px !important;
}

footer.nb-footer {
    background: #222;
    border-top: 4px solid #e8542b; }
footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center; }
footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px; }
footer.nb-footer .about .social-media {
    margin-top: 15px; }
footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #e8542b;
    border: 1px solid rgba(255, 255, 255, 0.3); }
footer.nb-footer .about .social-media ul li a:hover {
    background:#e8542b;
    color: #fff;
    border-color: #e8542b; }
footer.nb-footer .footer-info-single {
    margin-top: 30px; }
footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #e8542b;
    padding-left: 5px; }
footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0; }
footer.nb-footer .footer-info-single ul li a:hover {
    color: #e8542b;
    text-decoration: none !important;
}
footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa; }
footer.nb-footer .copyright {
    margin-top: 15px;
    background: orangered;
    text-align: center !important;
    padding-top: 12px !important;
    color: white; }
footer.nb-footer .copyright a {
    color: white;

}
footer.nb-footer .copyright a:hover {
    color: white;

}

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: orangered;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    z-index: 999999;
    transition: 0.5s;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:black;
    transition: 0.5s;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

.testimonial-header{
    padding: 10px 20px !important;
    font-size: 20px !important;
    background-color: #222222;
    color: white;
    border-radius: 50px !important;
    margin-top: -50px;
    left: 0;
}

.testimonial-card{
    background-color: white !important; border: none !important;margin-left: 20px !important;margin-right: 20px !important; border-top-left-radius: 20px !important; border-top-right-radius: 20px !important; border-bottom-left-radius: 20px !important; border-bottom-right-radius:20px !important;-webkit-box-shadow: -2px 1px 34px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 1px 34px -16px rgba(0,0,0,0.75);
    box-shadow: -2px 1px 34px -16px rgba(0,0,0,0.75);
}
.testimonial-card:hover{
    background-color: white !important; color: black;border: none !important;margin-left: 20px !important;margin-right: 20px !important; border-top-left-radius: 20px !important; border-top-right-radius: 20px !important; border-bottom-left-radius: 20px !important; border-bottom-right-radius:20px !important;-webkit-box-shadow: -2px 1px 34px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 1px 34px -16px rgba(0,0,0,0.75);
    box-shadow: -2px 1px 34px -16px rgba(0,0,0,0.75);
    transform: scale(1.1);
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 48%;
    left: 48%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff6347;
    z-index: 999999;
}

.services-card-col{
    padding: 20px !important;
   /* min-height: 400px !important;*/
    background-color: white;
    /*text-shadow: 2px 2px 5px #953106;*/
}
.services-card-p{
    width: 100%;
    height: 410px !important;
    background: rgb(255,68,0);
    background: linear-gradient(117deg, rgba(255,68,0,0.8) 0%, rgba(242,155,3,0.8) 100%);
    color: white;
    padding: 15px;
    border-radius: 10px
}
.services-card-p-1{
    width: 100%;
    height: 210px;
    background: rgb(255,68,0);
    background: linear-gradient(117deg, rgba(255,68,0,0.8) 0%, rgba(242,155,3,0.8) 100%);
    color: white;
    padding: 15px;
    border-radius: 10px
}
.services-card-p-2{
    width: 100%;
    height: 310px !important;
    background: rgb(255,68,0);
    background: linear-gradient(117deg, rgba(255,68,0,0.8) 0%, rgba(242,155,3,0.8) 100%);
    color: white;
    padding: 15px;
    border-radius: 10px
}
.serviceLable{
    background: white;
    border-radius: 10px;
    color: #000000;
    font-size: 15px;
    margin-top: 12px;
}
.priceTr{
    border-top: 1px solid #ff5722;
}
.priceTd{
    padding: 10px;
    font-size: 15px;
}

.pricing-card{
    background-color: white !important;
    border: none !important;
   /* margin-left: 20px !important;
    margin-right: 20px !important; */
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius:20px !important;
    -webkit-box-shadow: -2px 1px 34px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 1px 34px -16px rgba(0,0,0,0.75);
    box-shadow: -2px 1px 34px -16px rgba(0,0,0,0.75);
    height: 900px;
}
.pricing-card:hover{
    background-color: white !important;
    color: black;
    border: none !important;
    /*margin-left: 20px !important;
    margin-right: 20px !important; */
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius:20px !important;
    -webkit-box-shadow: -2px 1px 34px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 1px 34px -16px rgba(0,0,0,0.75);
    box-shadow: -2px 1px 34px -16px rgba(0,0,0,0.75);
    transform: scale(1.1);
}

.pricingTable{
    width: 100%;
}

.goldGradient{
    background: rgb(212,175,55);
    background: linear-gradient(90deg, rgba(212,175,55,1) 0%, rgba(238,209,113,1) 100%);
}
.platinumGradient{
    background: rgb(229,228,226);
    background: linear-gradient(90deg, rgba(229,228,226,1) 0%, rgba(252,251,249,1) 100%);
}
.silverGradient{
    background: rgb(192,192,192);
    background: linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(240,237,237,1) 86%);
}
.bronzeGradient{
    background: rgb(236,147,58);
    background: linear-gradient(90deg, rgba(236,147,58,1) 0%, rgba(252,201,150,1) 100%);
}

.textGreen{
    color: #008a00;
    font-weight: 600;
}

.textRed{
    color: #a21318;
    font-weight: 600;
}

.element-animation:hover{
    animation: animationFrames linear 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 0%;
    -webkit-animation: animationFrames linear 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 0%;
    -moz-animation: animationFrames linear 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 0%;
    -o-animation: animationFrames linear 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 0%;
    -ms-animation: animationFrames linear 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 0%;
}

@keyframes animationFrames{
    0% {
        transform:  rotate(0deg) ;
    }
    20% {
        transform:  rotate(15deg) ;
    }
    40% {
        transform:  rotate(-10deg) ;
    }
    60% {
        transform:  rotate(5deg) ;
    }
    80% {
        transform:  rotate(-5deg) ;
    }
    100% {
        transform:  rotate(0deg) ;
    }
}

@-moz-keyframes animationFrames{
    0% {
        -moz-transform:  rotate(0deg) ;
    }
    20% {
        -moz-transform:  rotate(15deg) ;
    }
    40% {
        -moz-transform:  rotate(-10deg) ;
    }
    60% {
        -moz-transform:  rotate(5deg) ;
    }
    80% {
        -moz-transform:  rotate(-5deg) ;
    }
    100% {
        -moz-transform:  rotate(0deg) ;
    }
}

@-webkit-keyframes animationFrames {
    0% {
        -webkit-transform:  rotate(0deg) ;
    }
    20% {
        -webkit-transform:  rotate(15deg) ;
    }
    40% {
        -webkit-transform:  rotate(-10deg) ;
    }
    60% {
        -webkit-transform:  rotate(5deg) ;
    }
    80% {
        -webkit-transform:  rotate(-5deg) ;
    }
    100% {
        -webkit-transform:  rotate(0deg) ;
    }
}

@-o-keyframes animationFrames {
    0% {
        -o-transform:  rotate(0deg) ;
    }
    20% {
        -o-transform:  rotate(15deg) ;
    }
    40% {
        -o-transform:  rotate(-10deg) ;
    }
    60% {
        -o-transform:  rotate(5deg) ;
    }
    80% {
        -o-transform:  rotate(-5deg) ;
    }
    100% {
        -o-transform:  rotate(0deg) ;
    }
}

@-ms-keyframes animationFrames {
    0% {
        -ms-transform:  rotate(0deg) ;
    }
    20% {
        -ms-transform:  rotate(15deg) ;
    }
    40% {
        -ms-transform:  rotate(-10deg) ;
    }
    60% {
        -ms-transform:  rotate(5deg) ;
    }
    80% {
        -ms-transform:  rotate(-5deg) ;
    }
    100% {
        -ms-transform:  rotate(0deg) ;
    }
}

.price-animation{
    animation: priceAnimationFrames ease-out 0.8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: priceAnimationFrames ease-out 0.8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: priceAnimationFrames ease-out 0.8s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: priceAnimationFrames ease-out 0.8s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: priceAnimationFrames ease-out 0.8s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes priceAnimationFrames{
    0% {
        opacity:0;
        transform:  translate(300px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

@-moz-keyframes priceAnimationFrames{
    0% {
        opacity:0;
        -moz-transform:  translate(300px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -moz-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

@-webkit-keyframes priceAnimationFrames {
    0% {
        opacity:0;
        -webkit-transform:  translate(300px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -webkit-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

@-o-keyframes priceAnimationFrames {
    0% {
        opacity:0;
        -o-transform:  translate(300px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -o-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -o-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -o-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

@-ms-keyframes priceAnimationFrames {
    0% {
        opacity:0;
        -ms-transform:  translate(300px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -ms-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

.error{
    color: red;
    font-size: 15px;
    margin-top: 5px;
}

.red{
    color: red;
}

.gallery{
    margin-top: 10px;
}

.galleryImg{
    width: 100%;
    height:80%;
}